<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>ALL POSTS</h1>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Allow Comments</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <td scope="row">{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{status}}</td>
                        <td>{{allowComments}}</td>
                        <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                        <td><a href="/admin/posts/delete/{{id}}?_method=DELETE" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>