<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Author</th>
            <th>Date</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
        <tr>
            <td scope="row">{{id}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{generateDate date "D/M/YYYY H:m"}}</td>
            <td>{{body}}</td>
            <td><form action="/admin/comments/delete/{{id}}?_method=DELETE" method="POST"><button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></form></td>
        </tr>
        {{/each}}
    </tbody>
</table>